$bg-clr:#21283A;
$bg-clr-two:#323840;
$clr-light:#FFF;
$clr-light-green:#48fb47;
$clr-green:#1EDE6D;
$clr-red:#F42E4B;
$clr-light-red:#e23f57;
$clr-blue:#2586FF;
$clr-gray:#323840;
$clr-gray-two:#848C90;
$clr-left-bg:#003147;
$clr-icon:#03A9F4;
$clr-percent: #081921;
$clr-icon-two:#2A7DA2;
$width-media-one:1000px;
$width-media-two:600px;
$clr-border:rgba(255, 255, 255, 0.15);